@model List<particalview.Models.Class1>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2 align =" center "> All Places in STL </h2>
@foreach(var item in Model)
{
    @Html.Partial("Prototype", item)
}

<div>
    <h1>
        "Hello World"
    </h1>
</div>